
.card-chart {
    background-color: rgb(206, 203, 203);
    padding: 20px;
    margin-top: 20px;
    width: 100%;
  }
  .Bar-chart{
      height:50%;
  }
  .card-table {
    background-color: rgb(206, 203, 203);
    padding: 20px;
    margin-top: 20px;
    width: 100%;
  }
  .card-line {
    background-color: rgb(206, 203, 203);
    padding: 20px;
    margin-top: 20px;
    width: 100%;
  }
